{% extends 'recetas_app/base.html' %}

{% block content %}

<h2 class="mb-4">lista de favoritos</h2>

{% if cart.recetaf_set.all %}

<table class="table table-bordered align-middle">
    <thead>
        <tr>
            <th>imagen</th>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Dificultad</th>
            <th>Ingredientes</th>
            <th>borrar</th>
        </tr>
    </thead>

    <tbody>

    {% for item in cart.recetaf_set.all %}
        <tr>
            <td><img src="{{ item.recetas.imagen.url }}" alt="{{ item.recetas.name }}" width="100"></td>

            <td>{{ item.recetas.name }}</td>

            <td>{{ item.recetas.description }}</td>

            <td>{{ item.recetas.dificultad }}</td>

            <td>
                {{ item.recetas.ingredientes }}
            </td>

            <td>
                <a href="{% url 'remove_from_cart' item.id %}"
                   class="btn btn-danger btn-sm">
                    Eliminar
                </a>
            </td>

        </tr>
    {% endfor %}

    </tbody>
</table>

{% else %}

<div class="alert alert-info">
    Tu lista está vací
</div>

{% endif %}

{% endblock %}